body {
    margin:0;
    background-color: #181818;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey !important;
}

a {
    color: grey !important; 
}

header {
    background-color: #212121;
    box-shadow:1px 1px 4px rgba(0, 0, 0, .1) ;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #212121;
}

header ul a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
header ul a:hover {
    background-color: #181818;
    color: white;
    transition: .3s;
}

header .logo {
    float:left;
    font-size: 25px;
    padding: 10px 20px;
    text-decoration: none;
}

header .menu {
    clear: both;
    max-height: 0;
    overflow: hidden;
    transition: max-height .6s ease-out;
}

header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;   
    cursor: pointer;
}

header .menu-icon .menu-icon-bar {
    display: block;
    width: 27px;
    height: 3px;
    position: relative;
    background-color: grey;
    transition: background-color .2s ease-out; 
}

header .menu-icon .menu-icon-bar::before {
    background-color: grey;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out; 
    top: 7px;
}
header .menu-icon .menu-icon-bar::after {
    background-color: grey;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out; 
    top: -7px;
}
header .menu-btn {
    display: none;
}

header .menu-btn:checked ~ .menu{
    max-height: 240px;
}

header .menu-btn:checked + .menu-icon .menu-icon-bar {
    background: transparent;
}
header .menu-btn:checked + .menu-icon .menu-icon-bar::before {
    transform: rotate(-45deg);
    top: 0;
}
header .menu-btn:checked + .menu-icon .menu-icon-bar::after {
    transform: rotate(45deg);
    top: 0;
}
@media (min-width: 48em) {
    header li{
        float: left;
    }
    header li a {
        padding: 20px 30px;
    }
    header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    header .menu-icon {
        display: none;
    }
}
.showcase {
    height: 100vh;
    background: url('/assets/img/pexels-jievani-64453116-8185629.jpg') no-repeat center center/cover;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 160px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
}

.blockquote-footer {
    color: grey !important;
    font-style: italic;
    padding-top: 8px;
}       
.showcase-content {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

.about {
    padding: 60px 20px;
    background-color: #212121;
    text-align: center;
}   
.about-content {
    max-width: 800px;
    margin: 40px auto;
    text-align: left;
    padding: 0 20px;
    color: grey;
}

/* .projects-content { 
    color: grey;
    margin-left: 40px;
}    */

.projects-content {
    padding: 60px 20px;
    background-color: #181818;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.project-item1 {
    background: url('/assets/img/blockchain\ basata\ su\ ethereum\ in\ un\ contesto\ food.jpg') no-repeat center center/cover;
    background-color: #212121;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    color: black;
    width: 100%;
    height: 50vh;
    transition: transform 0.3s ease, 
                box-shadow 0.3s ease;
    transform: translateY(0);
}

.project-item2 {
    background: url('/assets/img/aHR0cHM6Ly9lbGVtZW50YWxzLWltYWdlcy5henVraS5jb20vN2E3YWEyZWEtZTQ5Yi00OGJmLWFiYTYtMGU3YzRmYmIzNDBhLnBuZw==.avif') no-repeat center center/cover;
    background-color: #212121;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    color: black;
    width: 100%;
    height: 50vh;
    transition: transform 0.3s ease, 
                box-shadow 0.3s ease;
    transform: translateY(0);
}

.Description {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}   

.project-item1:hover, .project-item2:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
    transform: scale(1.05);
}